.gallery-item {
    width: 20vw;
    height: 20vw;
    background-position: center;
    background-size: cover;
    margin: 2.33vw;
    position: relative;
    border-style: outset;
    border-color: yellow;
    border-width: 1vw;
}

.gallery-item:hover {
    border-width: 0.75vw;
    width: 20.5vw;
    height: 20.5vw;
}

.gallery-title {
    font-size: 30px;
    padding: 20px 0;
    color: white;
    background-color: black;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
